@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham/gotham-thin.woff2') format('woff2'),
         url('/fonts/gotham/gotham-thin.woff') format('woff'),
         url('/fonts/gotham/gotham-thin.ttf') format('truetype');
    font-weight: 100; /* Thin */
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham/gotham-extralight.woff2') format('woff2'),
         url('/fonts/gotham/gotham-extralight.woff') format('woff'),
         url('/fonts/gotham/gotham-extralight.ttf') format('truetype');
    font-weight: 200; /* ExtraLight */
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham/gotham-light.woff2') format('woff2'),
         url('/fonts/gotham/gotham-light.woff') format('woff'),
         url('/fonts/gotham/gotham-light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham/gotham-book.woff2') format('woff2'),
         url('/fonts/gotham/gotham-book.woff') format('woff'),
         url('/fonts/gotham/gotham-book.ttf') format('truetype');
    font-weight: 400; /* Book */
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham/gotham-medium.woff2') format('woff2'),
         url('/fonts/gotham/gotham-medium.woff') format('woff'),
         url('/fonts/gotham/gotham-medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham/gotham-bold.woff2') format('woff2'),
         url('/fonts/gotham/gotham-bold.woff') format('woff'),
         url('/fonts/gotham/gotham-bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham/gotham-black.woff2') format('woff2'),
         url('/fonts/gotham/gotham-black.woff') format('woff'),
         url('/fonts/gotham/gotham-black.ttf') format('truetype');
    font-weight: 900; /* Black */
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham/gotham-ultra.woff2') format('woff2'),
         url('/fonts/gotham/gotham-ultra.woff') format('woff'),
         url('/fonts/gotham/gotham-ultra.ttf') format('truetype');
    font-weight: 950; /* Ultra */
    font-style: normal;
}

html ::-webkit-scrollbar {
    width: 0;
  }

body {
    font-family: 'Gotham', sans-serif;
    margin: 0;
}

header {
    height: 10vh; /* Define a altura do header */
    background-color: #280659; /* Cor de fundo opcional */
    display: flex;
    align-items: center; /* Alinha verticalmente os itens no centro */
    font-weight: 300;
}


header nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header nav a {
    display: flex;
    align-items: center; /* Alinha o ícone e o texto verticalmente */
    padding: 5px 15px; /* Espaçamento interno dos links */
    text-decoration: none; /* Remove sublinhado dos links */
    color: #FFF; /* Cor do texto */
    gap: 8px; /* Espaçamento entre o ícone e o texto */
    cursor: pointer; /* Define o cursor como pointer ao passar por cima */
    transition: background-color 0.3s ease; /* Suaviza a transição de cor de fundo */
    font-weight: 400;
}


header nav a:hover {
    background-color: #F54952; /* Cor de fundo ao passar o mouse */
    color: #FFF; /* Cor do texto ao passar o mouse (opcional) */
    border-radius: 8px;
}

header nav p {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-weight: 900;
    color: #660F56;
    padding-left: 2vw;
    margin-bottom: 0 ;
}
#kanban {
    color: #660F56;
    align-items: center;
}

#titulo-kanban {
    display: flex;
    align-content: center;
}

.kanban-board {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.kanban-column {
    width: 30vw;
    height: 75vh;
    background-color:#AE2D68;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.kanban-column h2 {
    text-align: center;
    color: #fefefe;
    z-index: 1;
    flex-shrink: 0;
}

.kanban-content {
    overflow-y: auto;
    flex-grow: 1;
    padding: 1rem;
}

.kanban-card {
    height: 25vh;
    width: 25vw;
    background-color: #1c8b1e;
    margin: auto;
    border-radius: 1rem;
}

.popup {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button#open-popup {
    margin-left: 1rem;
    height: fit-content;
    font-weight: 500;
    background-color: #660F56;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    align-self:flex-end;
}

button#open-popup:hover {
    background-color: #880b3d;
}

form #new-card-form input {
    width: 95%;
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    border-radius: 0.625rem;
    border: 1px solid #ccc;
}

form#new-card-form button {
    width: 100%;
    padding: 0.625rem;
    background-color: #1c8b1e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form#new-card-form button:hover {
    background-color: #156014;
}