<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" type="text/css" href="about_us.css">
</head>
<style>
    @font-face {
        font-family: [Gotham];
        src: url([assets/Gothan/Gotham-Book]);
    }

    body {
        font-family: 'Gotham', sans-serif;
        background-color: #422680;
        margin: 0;
        padding: 0;
        color: #FFFFFF;
        overflow: auto;
    }

    header {
        height: 80px;
    }


    .name {
        display: flex;
        align-items: center;
        margin-left: 5vh;
        margin-right: 65vh;
    }

    .name .dom {
        content: url('/dom.svg');
        margin-right: 10px;
    }

    h3 {
        color: #F54952;
        margin: 0;
        font-size: 32px;
        font-weight: 700;
    }

    h4 {
        color: #ffffff;
        margin: 0;
        font-size: 16px;
        font-weight: 200;
    }

    .infos {
        display: flex;
        align-items: center;
        margin-right: 5vh;
        gap: 2vh;
    }

    .infos .home,
    .infos .about,
    .infos .contact,
    .infos .adm {
        display: flex;
        align-items: center;
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        margin-left: 20px;
        font-size: 32px;
        padding: 10px;
        font-weight: 500;
    }

    .infos .home:hover,
    .infos .about:hover,
    .infos .contact:hover,
    .infos .contact:hover {
        text-decoration: underline;
    }

    .infos .home .icon,
    .infos .about .icon,
    .infos .contact .icon,
    .infos .adm .icon {
        margin-right: 8px;
    }

    .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 20px;
        box-sizing: border-box;
    }

    .content {
        max-width: 80%;
        padding-top: 20px;
        padding-left: 18vh;
    }

    h1 {
        color: white;
        margin: 0;
        padding: 0;
        font-size: 48px;
        margin-bottom: 2vh;
        font-weight: 700;
    }

    h2 {
        color: white;
        margin: 0 0 0 0;
        font-size: 24px;
        font-weight: 500;
    }


    .sign-up,
    .login {
        background-color: #F54952;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 40px;
        cursor: pointer;
        font-size: 32px;
        width: 170px;
        height: 50px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        font-weight: 400;
    }

    .sign-up:hover,
    .login:hover {
        background-color: #D43C3D;
    }

    .buttons {
        display: flex;
        align-items: flex-start;
        width: fit-content;
        gap: 15vh;
        margin-left: 0;
    }

    html {
        font-family: Gotham, sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
    }

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    nav {
        margin: auto;
        padding: 1.5rem;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 0 0 3rem;
    }

    .nome_logo {
        color: #F54952;
        font-weight: 700;
        font-size: 1rem;
    }

    .menu {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
        color: #FFF2E780;
    }

    .menu_selecionado {
        color: #ffffff
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .hero {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 3.5rem;
    }

    .texto {
        width: 50%;
    }

    .texto>h1 {
        text-align: center;
        font-weight: 500;
        padding: 1rem;
    }

    .tools {
        display: flex;
        flex-direction: column;
        background-color: #341671;
        margin-top: 0;
        padding: 0;

    }

    .tools-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        height: 30%;
        padding: 0;
        margin-bottom: -4rem;

    }

    .seção-textoImg {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0 1rem 0;
        margin-top: 3rem;
    }

    .texto>h3 {
        text-align: center;
        font-weight: 600;
        padding: 1rem;
        color: #ffffff;
    }

    .seção-imgTexto {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0 1rem 0;
    }

    @media only screen and (max-width: 600px) {
        html {
            font-family: 'Gothan', sans-serif;
            font-weight: 300;
            font-size: 1rem;
        }

        header {
            width: 100%;
        }

        img {
            width: 55%;
        }

        nav {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;
            color: #FFF2E780;
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 0 0 0;
        }

        ul {
            text-align: center;
        }

        .hero {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        .texto {
            width: 100%;
            text-align: justify;
            padding: 1rem 1rem 2rem 1rem;
        }

        .tools-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: -0.9rem 0 0 0;
        }

        .title-tools img {
            width: 1rem;
        }

        .seção-textoImg {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 1rem 0 1rem 0;
        }

        .seção-imgTexto {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 1rem 0 1rem 0;
        }
    }
</style>

<body>
    <header>
        <div class="name">
            <div class="dom"></div>
            <div class="inpulse">
                <div>
                    <h3>InPulse</h3>
                </div>
                <div>
                    <h4>by domINators</h4>
                </div>
            </div>
        </div>
        <div class="infos">
            <button class="home" onclick="window.location.href='/'">
                <div class="icon">
                    <img src="/home.svg" alt="Home">
                </div>
                Home
            </button>
            <button class="about">
                <div class="icon">
                    <img src="/about.svg" alt="About">
                </div>
                About us
            </button>
            <button class="contact" onclick="window.location.href='https://linktr.ee/SuperVIZdomINators'">
                <div class="icon">
                    <img src="/contact.svg" alt="Contact">
                </div>
                Contact
            </button>
        </div>
    </header>

    <main>
        <section class="hero">
            <img src="/aboutUs.svg" width="30%" />

            <div class="texto">
                <h1>About us</h1>
                <p>At domINators, we believe that a united team is capable of transforming ideas into great
                    achievements. Our mission is to promote assertive, respectful and effective communication, creating
                    an environment where transparency and collaboration are more than just words, they are pillars. We
                    were born out of the desire of a group of friends for a platform that really facilitated teamwork.
                    Today, we have brought together the main communication and organisation tools in one place,
                    providing technology companies and startups with the efficiency, agility and assertiveness they need
                    to achieve success.</p>
            </div>
        </section>

        <section class="tools">

            <section class="tools-title">
                <img src="/line.svg" width="20%" />
                <h2>Our tools</h2>
                <img src="/line.svg" width="20%" />
            </section>

            <section class="seção-textoImg">
                <img src="/kanban.svg" width="20%" />

                <div class="texto">
                    <h3>Group Kanban</h3>
                    <p>The Kanban board is a method of organising tasks and the flow of activities. In the case of
                        domINators, this tool was implemented to give you a clear view not only of your activities, but
                        also those of other team members, thus ensuring better communication, as well as efficiency and
                        agility on a daily basis.</p>
                </div>
            </section>

            <!-- <section class="seção-imgTexto">
                <img src="/form.svg" width="20%" />

                <div class="texto">
                    <h3>Collaborative form</h3>
                    <p>Os collaborative Forms foram pensados pela domINators para ser uma ferramenta de gestão e
                        organização de informações. Com os Collaborative formas é possível criar atas de reunião,
                        invites e quaisquer outras informações que a equipe desejar documentar. Com essa ferramenta,
                        além de criar documentos, a equipe consegue ter acesso ao histórico de criações e edições desses
                        documentos.</p>
                </div>
            </section> -->

            <section class="seção-imgTexto">
                <img src="/mySection.svg" width="20%" />

                <div class="texto">
                    <h3>My Section</h3>
                    <p>This space is designed to give you an overview not only of your position in the team, but also of
                        all its members. This not only gives you a sense of belonging, but also gives you an overview of
                        everyone in your team.</p>
                </div>
            </section>

            <section class="seção-textoImg">
                <img src="/meeting.svg" width="20%" />

                <div class="texto">
                    <h3>Online meetings</h3>
                    <p>domINators offers the possibility for the team to hold online meetings not only to carry out
                        their daily organisation, but also to hold any other meeting the team deems necessary. However,
                        the biggest advantage of this tool is that it is included in the platform, meaning that the team
                        doesn't have to switch platforms when they want to meet, they just have to create a room and
                        wait for the teammates to join.</p>
                </div>
            </section>
        </section>
    </main>
</body>

</html>