<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <style>
    body {
      font-family: 'Gotham', sans-serif;
      margin: 0;
      padding: 0;
      overflow: auto;
      box-sizing: border-box;
    }

    * {
      box-sizing: inherit;
    }

    main {
      display: flex;
      justify-content: space-between;
    }

    header {
      height: 5rem;
      background-color: #280659;
      display: flex;
      align-items: center;
      padding-left: 40px;
      padding-right: 40px;
      font-size: 24px;
    }

    header nav {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }

    header nav a {
      display: flex;
      align-items: center;
      padding: 5px 15px;
      text-decoration: none;
      color: #FFF;
      gap: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-weight: 400;
    }

    header nav a:hover {
      background-color: #F54952;
      color: #FFF;
      border-radius: 8px;
    }

    .intro-section {
      display: flex;
      flex-direction: column;
      padding-top: 2vh;
      width: 90vh;
      margin-left: 6vh;
      margin-top: 6vh;
    }

    .intro-section .text {
      display: flex;
      flex-direction: row;
    }

    .intro-section .text h1 {
      color: #341671;
      font-size: 48px;
      font-weight: 300;
      margin: 0;
    }

    .intro-section .text h2 {
      margin: 0;
      margin-left: 8px;
      font-size: 48px;
      text-transform: uppercase;
      color: #660F56;
      font-weight: 700;
    }

    .intro-section h3 {
      margin: 0;
      margin-top: 15px;
      font-size: 26px;
      font-weight: 400;
      width: 454px;
    }

    .intro-section .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 598.75px;
      padding: 50px 0px;
    }

    .intro-section .buttons a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 47px;
      width: 267.75px;
      border: 2px solid #000;
      border-radius: 60px;
      font-size: 24px;
      font-weight: 200;
      background-color: #280659;
      text-align: center;
      text-decoration: none;
      color: #FFF;
      cursor: pointer;
    }

    .intro-section .buttons a:hover {
      background-color: #FFF;
      color: #000;
    }

    .intro-section img {
      width: 80vh;
      margin-right: 8vh;
    }

    .notices-section {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    .boardNoticesContainer {
      position: relative;
      background-color: #F54952;
      padding: 20px;
      padding-top: 0;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #341671;
      box-shadow: 10px 8px 15px #422680;
    }

    .pin {
      position: absolute;
      top: -26px;
      z-index: 2;
      width: 40px;
      left: 0vh;
    }

    .boardNotices {
      position: relative;
      background-color: #FFF;
      padding: 20px;
      border-radius: 10px;
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      overflow: hidden;
      transition: max-height 0.3s ease;
      padding-left: 0;
      padding-right: 0;
      border: 2px solid #000000;
    }

    .boardNotices.expanded {
      max-height: 1000px;
      overflow-y: auto;
    }

    .notices {
      position: relative;
      background-color: transparent;
      padding: 0;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      word-wrap: break-word;
      white-space: normal;
    }

    .postit {
      position: relative;
      width: 40vh;
      height: auto;
      background: url('/postit.svg') no-repeat center center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .notices-content {
      position: absolute;
      text-align: center;
      width: 30vh;
      left: 5vh;
      top: 2vh;
    }

    .notices h3 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
      width: 30vh;
    }

    .notices p {
      font-size: 14px;
      font-weight: 300;
      width: 30vh;
    }

    .seta {
      position: absolute;
      width: 4vh;
      height: 4vh;
      bottom: -0.01vh;
      left: calc(50% - 10px);
      cursor: pointer;
    }

    .notices-section h2 {
      font-size: 48px;
      font-weight: 700;
      color: #660F56;
      margin: 20px 0;
      margin-bottom: 5vh;
    }
  </style>
</head>

<body>
  <header>
    <nav>
      <a href="/home">
        <img src="images/icon-home.svg" alt="Home Icon">
      </a>
      <a href="/myprofile">
        <img src="images/icon-mysection.svg" alt="Work Station Icon">
        <p>Work Station</p>
      </a>
      <a href="/faq">
        <img src="images/icon-faq.svg" alt="FAQ Icon">
        <p>FAQ</p>
      </a>
      <% if(user.usertype==="admin" ){ %>
        <a href="/admin">
          <img src="/adm.svg" alt="ADM Icon">
          <p>Admin</p>
        </a>
        <% } %>
        <a href="/logout">
          <img src="images/logout.svg" alt="Logout icon">
          <p>Logout</p>
        </a>
    </nav>
  </header>
  <main>
    <section class="intro-section">
      <div class="text">
        <h1>Welcome</h1>
        <h2>
          <%= user.firstName %>!
        </h2>
      </div>
      <h3>Start collaborating and communicating with your team now!</h3>
      <img src="images/img-homepage.svg" alt="Homepage Illustration">
    </section>

    <section class="notices-section">
      <h2 class="boardNoticesTitle">Notice Board</h2>
      <div class="boardNoticesContainer">
        <img src="/pin.svg" alt="Pin" class="pin">
        <div class="boardNotices" id="notices">
          <% notices.forEach(function(notice){ %>
            <div class="notices">
              <img src="/postit.svg" alt="Post-it" class="postit">
              <div class="notices-content">
                <h3>
                  <strong>
                    <%= notice.title %>
                  </strong>
                </h3>
                <p>
                  <%= notice.description %>
                </p>
              </div>
            </div>
            <% }) %>
        </div>
        <img src="/seta.svg" alt="Expand Button" class="seta" id="expandButton">
      </div>
    </section>
  </main>
</body>

<script>
  document.getElementById('expandButton').addEventListener('click', function () {
    const notices = document.getElementById('notices');
    notices.classList.toggle('expanded');
    const expandButton = document.getElementById('expandButton');
    if (notices.classList.contains('expanded')) {
      expandButton.src = '/seta-up.svg';
    } else {
      expandButton.src = '/seta.svg';
    }
  });
</script>

</html>
