<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanbans</title>
    <style>
        body {
            font-family: sans-serif;
        }

        header {
            height: 5rem;
            background-color: #280659;
            display: flex;
            align-items: center;
            padding-left: 40px;
            padding-right: 40px;
            font-size: 24px;
        }

        header nav {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }

        header nav a {
            display: flex;
            align-items: center;
            padding: 5px 15px;
            text-decoration: none;
            color: #FFF;
            gap: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-weight: 400;
        }

        header nav a:hover {
            background-color: #F54952;
            color: #FFF;
            border-radius: 8px;
        }

        header nav p {
            margin-block-start: 0;
            margin-block-end: 0;
        }

        main {
            display: flex;
            flex-direction: column;
        }

        .lista-kanban {
            min-height: 100vh;
            border-radius: 20px;
            margin: 20px 60px;
            text-align: center;
            display: flex;
            background-color: #280659;
            justify-content: space-around;
            align-content: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            padding-top: 30px;

        }

        .lista-kanban button {
            width: 280px;
            height: 290px;
            border: none;
            background-color: #F54952;
            font-weight: 700;
            color: #ffffff;
        }

        .titleKanban {
            display: flex;
            gap: 3rem;
            color: #660F56;
            margin-left: 5%;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
            border-radius: 10px;
        }


        button#openModalBtn {
            width: 2rem;
            margin-left: 2rem;
            margin-bottom: 1.5rem;
            height: fit-content;
            font-weight: 500;
            background-color: #660F56;
            color: #fff;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            align-self: flex-end;
        }

        button#openModalBtn:hover {
            background-color: #0056b3;
        }

        main {
          padding: 20px;
        }

        .card {
            background-color: #F94144;
            width: 260px;
            height: 290px;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            text-align: center;
            padding: 0;
            margin-bottom: 50px;
            display: flex;
            position: relative;
            cursor: pointer;
        }

        .card-icon {
            background-color: #3E206D;
            border-radius: 50%;
            width: 90px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 60px;
            left: 20px;
            }

        .card h2 {
            width: 100%;
            height: 30%;
            font-size: 27px;
            margin: 0;
            color: #333;
            background-color: #fff;
            border-bottom-left-radius: 30px; /* Adiciona borda arredondada no canto inferior esquerdo */
            border-bottom-right-radius: 30px;
            position: absolute;
            bottom: 0;
            padding-top: 80px;
            text-align: left;
            text-indent: 25px;
        }

        .card-icon img {
            width: 50px;
            height: 50px;
            object-fit: contain;  /* Garante que a imagem se ajuste ao container */
            }

    </style>
</head>



<body>

    <header>
        <nav>
            <a href="/home">
                <img src="images/icon-home.svg" alt="Home Icon">
            </a>
            <a href="/kanban">
                <img src="images/icon-kanban.svg" alt="Kanban Icon">
                <p>Company Kanban's</p>
            </a>
            <a href="/myprofile">
                <img src="images/icon-mysection.svg" alt="My Section Icon">
                <p>My section</p>
            </a>
            <a href="/faq">
                <img src="images/icon-faq.svg" alt="FAQ Icon">
                <p>FAQ</p>
            </a>
            <% if(user.usertype === "admin"){ %>
            <a href="/admin">
                <img src="/adm.svg" alt="ADM Icon">
                <p>Admin</p>
            </a>
            <% } %>
        </nav>
    </header>

    <main>
        <div class="titleKanban">
            <h1>
                <%= company.name %>
            </h1>
        </div>


        <section class="lista-kanban">
            <h1><% boards.forEach(function(board) { %></h1>
            <button class="card" onclick="window.location.href='/board/<%= board.id %>'">
              <h2><%= board.name %></h2>
              <div class="card-icon">
                <img src="/images/group.svg" alt="Group Icon">
              </div>
            </button>
            <% }); %>
          </section>

        </section>
    </main>

</body>

</html>
