<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanbans</title>
    <style>
        body {
            font-family: sans-serif;
        }

        header {
            height: 5rem;
            background-color: #280659;
            display: flex;
            align-items: center;
            padding-left: 40px;
            padding-right: 40px;
            font-size: 24px;
        }

        header nav {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }

        header nav a {
            display: flex;
            align-items: center;
            padding: 5px 15px;
            text-decoration: none;
            color: #FFF;
            gap: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-weight: 400;
        }

        header nav a:hover {
            background-color: #F54952;
            color: #FFF;
            border-radius: 8px;
        }

        header nav p {
            margin-block-start: 0;
            margin-block-end: 0;
        }

        main {
            display: flex;
            flex-direction: column;
        }

        .lista-kanban {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            flex-direction: row;
        }

        .lista-kanban button {
            width: 12rem;
            height: 6rem;
            border: none;
            background-color: #F54952;
            border-radius: 15px;
            font-weight: 700;
            color: #ffffff;
        }
    </style>
</head>



<body>

    <header>
        <nav>
            <a>
                <img src="images/icon-home.svg" alt="">
            </a>
            <a>
                <img src="images/icon-list.svg" alt="Descrição do SVG">
                <p>Collaboration Form</p>
            </a>
            <a href="/kanban">
                <img src="images/icon-kanban.svg" alt="Descrição do SVG">
                <p>Group Kanban</p>
            </a>
            <a>
                <img src="images/icon-mysection.svg" alt="Descrição do SVG">
                <p>My section</p>
            </a>
            <a>
                <img src="images/icon-faq.svg" alt="Descrição do SVG">
                <p>FAQ</p>
            </a>
        </nav>
    </header>

    <main>
        <h1>
            <%= company.name %>
        </h1>
        <section class="lista-kanban">
            <% boards.forEach(function(board) { %>
                <button onclick="window.location.href='/board/<%= board.id %>'">
                    <%= board.name %>
                </button>
                <% }); %>
        </section>
    </main>

</body>

</html>